@using QuizCreation.Entities.DTO.Exam
@model ExamViewModel
@{
    ViewData["Title"] = "StartExam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-custom">
    <div class="card-body">
        <!--begin::Example-->
        <div class="example mb-10">
            <form id="form" class="form" action="@Url.Action("CreateExam","Exam")" method="post">

                <div class="container">

                    <div class="row col-lg-8 mx-auto">
                        <div class="col-lg-12">
                            <div class="form-group mb-1">
                                <h1>@Model.Title.ToUpper()</h1>
                            </div>
                        </div>
                        <div class="col-lg-12 my-3">
                            <div class="form-group">
                                <h6>@Model.Description</h6>
                            </div>
                        </div>

                        @for (var i = 0; i < Model.QuestionList.Count(); i++)
                        {
                            <div class="col-md-5 mx-auto">
                                <div class="form-group">
                                    <div class="row my-3" id="@Model.QuestionList[i].Id">

                                        <p><b>@(i+1+")")</b> @Model.QuestionList[i].QuestionText</p>
                                        <p class="list-group-item list-group-item-action mb-2 choice" onclick="clickChoice(this, 'gray')" id="@(Model.QuestionList[i].Id+"A")" style="cursor: pointer;">
                                            <b>A)</b> @Model.QuestionList[i].OptionA
                                        </p>
                                        <p class="list-group-item list-group-item-action mb-2 choice" onclick="clickChoice(this, 'gray')" id="@(Model.QuestionList[i].Id+"B")" style="cursor: pointer;">
                                            <b>B)</b> @Model.QuestionList[i].OptionA
                                        </p>
                                        <p class="list-group-item list-group-item-action mb-2 choice" onclick="clickChoice(this, 'gray')" id="@(Model.QuestionList[i].Id+"C")"   style="cursor: pointer;">
                                            <b>C)</b> @Model.QuestionList[i].OptionA
                                        </p>
                                        <p class="list-group-item list-group-item-action mb-2 choice" onclick="clickChoice(this, 'gray')" id="@(Model.QuestionList[i].Id+"D")" style="cursor: pointer;">
                                            <b>D)</b> @Model.QuestionList[i].OptionA
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="d-flex  justify-content-center mt-5 m-auto">
                        <button type="button" class="btn btn-success  mx-1 btnCompleteTheExam" value="@Model.Id" ><i class="fa fa-globe"></i>SINAVI TAMAMLA</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>