@using QuizCreation.Entities.Concrete.Identity;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> userManager;
@inject SignInManager<ApplicationUser> signInManager
@{

    string userName = User.Identity.Name;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -  Sınav Oluşturma</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QuizCreation.UI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> Sınav Oluşturma</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                        </li>
                        @{
                            var ViewName = ViewContext.RouteData.Values["action"].ToString();
                            string activeStartExam="", activeCreateExam="", activeListExam="";
                            switch (ViewName)
                            {
                                case ("StartExam"):
                                    activeStartExam = "active";
                                    break;

                                case ("CreateExam"):
                                   activeCreateExam = "active";
                                    break;
                                case ("ListExam"):
                                     activeListExam = "active";
                                    break; 
                                default: 
                                    break;
                            }
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark @activeStartExam" asp-area="" asp-controller="Exam" asp-action="StartExam">Sınavı Başlat</a>
                        </li>
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark @activeCreateExam" asp-area="" asp-controller="Exam" asp-action="CreateExam">Sınav  Oluştur</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark @activeListExam" asp-area="" asp-controller="Exam" asp-action="ListExam">Oluşturulan Sınavlar</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark">@userName</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Account/SignOut">Çıkış</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Account/Login">Giriş Yap</a>
                            </li>
                        }


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Sınav Oluştur
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
